.ui.menu {
  margin:0 !important;
}
 
/* HEADER */
.ui.sticky  {
  position: sticky !important;
  top: 0;
  width: 100%;
}


/* BANNER/MASTHEAD */
.ui.inverted.segment{
  background: linear-gradient(black,#800080) !important;
  background-size: cover;
  height:calc(100vh - 71px);
}

  .masthead .ui.menu .ui.button .ui.text.content {
    margin-left: 0.5em;
    padding-top: 350px;
  }
  .masthead h1.ui.header {
    margin-top: 1.7em;
    margin-bottom: 0em;
    font-size: 4em;
    font-weight: normal;
    

  }
  .masthead h2 {
    font-size: 1.7em;
    font-weight: normal;
    padding-bottom: 10px;
  

  }
  

/* CONTAINER & CONTENT */
#login, #signup, #namskra {
  padding-top: 50px;
}
#mast{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center
}


 

  /* Responsive Vantar */
  @media only screen and (max-width: 700px) {
    .masthead.segment {
      min-height: 350px;
    }
    .masthead h1.ui.header {
      font-size: 2em;

    }
    .masthead h2 {
      margin-top: 0.5em;
      font-size: 1.5em;
    }
  } 


/* FOOTER */
footer {
    bottom:0 ;
    margin-top: auto;
    padding: auto;
    position: fixed;
    width: 100%;
    color: grey;
    
    
  }

body {
  background-color: lightgray!important;
}

 /*  footer p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #777777;
  }

  p.lead {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 21px;
    color: #333333;
    line-height: 1.4;
    font-weight: 300;
  }
  */

  