
    <div class="ui huge menu">
        <a href="{{url_for('home.index')}}" class="active item">
          Home
        </a>
        <div class="item ui centered category search">
          <div class="ui icon input">
            <input class="prompt" type="text" placeholder="Search...">
            <i class="search icon"></i>
          </div>
          <div class="results"></div>
        </div>
        {% if current_user.is_anonymous %}
        <div class="right menu">
          <div class="item">
            <a href="{{url_for('auth.register')}}" class="ui button">
              Sign Up
            </a>
          </div>
          <div class="item">
          <a href="{{url_for('auth.login')}}"class="ui button">
            Login
          </a>
          </div>
        </div>
        {% else %}
          <div class="item">
            <a href="{{url_for('auth.logout')}}" class="ui button">
              Logout
            </a>
          </div>
        {% endif %}
    </div>
    <!--  <script>
      window.onscroll = function() {myFunction()};
      var header = document.getElementById("myHeader");
      var sticky = header.offsetTop;
      function myFunction() {
        if (window.pageYOffset > sticky) {
          header.classList.add("sticky");
        } else {
          header.classList.remove("sticky");
        }
      }
    </script> -->

