{% extends "base.html" %}
{% include "header.html" %}
{%block content %}
    <div class="ui inverted vertical fixed masthead center aligned segment" >
      <div class="ui text container">
        <h1 class="ui inverted header">
          STAFLA YAYY!!
        </h1>
        <h2>Hallo Gæs</h2>
        <div class="ui huge primary button">LETS GO!!<i class="right arrow icon"></i></div>
      </div>
    </div>
  <!-- Bottom Text & Info -->
  <div class="ui vertical stripe segment">
    <div class="ui text container">
      <h3 class="ui">How this site will effect lebrons legacy?</h3>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda, sed laudantium numquam dolores ipsa iusto alias. Earum tempore corrupti, similique perferendis tempora nemo, est possimus quam hic amet, molestiae sapiente.</p>
      <h3 class="ui">Epli</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam aspernatur suscipit, assumenda eos omnis, blanditiis maiores at, quasi in voluptates ex debitis. Provident quasi, eligendi voluptatibus totam impedit beatae molestias!.</p>
      <!-- Divider -->
      <div class="ui text container"></div>
        <h4 class="ui horizontal  divider">
          <a>Ahugavert</a>
        </h4>
         <!-- Divider -->

        <h3 class="ui">Contact us</h3>

          <p>stafla@stafla.is</p>
        <a href="https://github.com/vefthroun4/Stafla">Github repository</a>
      </div>
    </div>
  </div>
{% endblock %}
