{% extends "base.html" %}
{%block content %}
<div id="namskra">
    <h>Velkominn</h>
    <p>Veldu þína Áfanga: </p>
    
    <br>

    <div class="eight wide column ">
        <table class="ui celled unstackable table">
            <thead>
            <tr>
                <th>Course Number</th>
                <th>Course Name</th>
                <th>Core</th>
                <th>Um Áfangan</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for entry in data %}
                <tr>
                    <td>{{entry["course_number"]}}</td>
                    <td>{{entry["course_name"]}}</td>
                    <td>{{entry["core"]}}</td>
                    <td><a class="meiraumdemo">Meira um</a></td>
                    {% for req in entry["prerequisites"] %}
                    <td>{{req}}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script async>
    let meiraumdemo = [...document.getElementsByClassName("meiraumdemo")].map(elem => {
        elem.addEventListener("click", () => {
            alert("Meira um")
        })
    })
</script>
{% endblock %}

